.form {
  background: rgb(61, 62, 64);
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 18px;
  transition: ease-in 0.3s;
}

.form:hover {
transform: scale(1.05);
}

.form-inputs {
  margin: 1rem;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}


button{
  margin: 2rem;
}

/* მობილური */
@media only screen and (max-width: 600px) {
  
  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* კომპიუტერი */
@media screen and (min-width: 600px) {
  .form-inputs {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
