<div class="form shadow">
  <div class="form-inputs">
  <div class="form-inputs">
    <mat-form-field color="accent">
      <mat-label>Name:</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="form-inputs">
    <mat-form-field color="accent">
      <mat-label>Last name:</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="form-inputs">
    <mat-form-field color="accent">
      <mat-label>Username:</mat-label>
      <input matInput />
      <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field>
  </div>

  <div class="form-inputs">
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select>
        <mat-option value="male">male</mat-option>
        <mat-option value="female">female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-inputs">
    <mat-form-field color="accent">
      <mat-label>Gmail:</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="form-inputs">
    <mat-form-field color="accent">
      <mat-label>Mobile number:</mat-label>
      <input type="password" matInput />
    </mat-form-field>
  </div>

  <div class="form-inputs">
    <mat-form-field color="accent">
      <mat-label>Password:</mat-label>
      <input type="password" matInput />
      <mat-hint>Min 7 characters</mat-hint>
    </mat-form-field>
  </div>

  <div class="form-inputs">
    <mat-form-field color="accent">
      <mat-label>Repeat Password:</mat-label>
      <input type="password" matInput />
      <mat-hint>Min 7 characters</mat-hint>
    </mat-form-field>
  </div>
</div>
<div class="form-buttons">
<button mat-raised-button>Sign Up</button>
</div>
<div class="login-buttons">
  <div>Already have an account?</div>
  <button mat-raised-button>Sign In</button>
  </div>
</div>
