
body {
  justify-content: center;
  display: flex;
  align-items: center;
}

.tripsTitle {
    text-align: center;
    font-size: 26px;
    margin: 2rem;
    margin-top: 3rem;
}

.last-trips-cards {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.reg-form-header {
    text-align: center;
    font-size: 26px;
    margin: 2rem;
    margin-top: 3rem;
}

.reg-form-div {
    margin-top: 3rem;
}

.last-trips-and-Register {
    margin-bottom: 4rem;
}

/* მობილური */
@media only screen and (max-width: 600px) {
    .last-trips-and-Register {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

}


/* კომპიუტერი */
@media screen and (min-width: 600px) {
    .last-trips-and-Register {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .last-trips-cards {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}