.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    margin: 2rem;
    transition: ease-in 0.2s;
    cursor: pointer;
}

.icons:hover{
    transform: scale(1.7);
}