<mat-menu #appMenu="matMenu">
  <button mat-menu-item [mat-menu-trigger-for]="subMenu">Destinations</button>
  <button mat-menu-item>Find a trip</button>
  <button mat-menu-item>My Page</button>
  <button mat-menu-item>Contact Us</button>
</mat-menu>
<mat-menu #subMenu="matMenu">
  <button mat-menu-item>East Georgia</button>
  <button mat-menu-item>West Georgia</button>
</mat-menu>

<div class="menu">
  <img class="img1" src="assets/tourist2mobile.jpg" />
  <img class="img2" src="assets/tourist2.jpg" />
</div>
<button class="menu-button" mat-flat-button [matMenuTriggerFor]="appMenu">
  Menu
</button>
<div>
    <mat-toolbar class="toolBar">
    <div class="menuButs">Main</div>
    <div>
        <span class="menuButs">Destinations</span>
        <span class="menuButs">Find a trip</span>
        <span class="menuButs">My Page</span>
        <span class="menuButs">Contact Us</span>
    </div>
</mat-toolbar>
</div>

