
<mat-menu #appMenu="matMenu">
  <button  mat-menu-item><a routerLink="/main">Main</a></button>
  <button  mat-menu-item [mat-menu-trigger-for]="subMenu"><a routerLink="/destinations">Destinations</a></button>
  <button  mat-menu-item>Reserve a trip</button>
  <button  mat-menu-item>Contact Us</button>
</mat-menu>
<mat-menu #subMenu="matMenu">
  <button mat-menu-item><a routerLink="/destinations/east">East Georgia</a></button>
  <button mat-menu-item><a routerLink="/destinations/west">West Georgia</a></button>
</mat-menu>
<mat-menu class="subMenu1" #subMenu1="matMenu">
  <button mat-menu-item><a routerLink="/destinations/east">East Georgia</a></button>
  <button mat-menu-item><a routerLink="/destinations/west">West Georgia</a></button>
</mat-menu>

<div class="bkImage">
  <img class="img1" src="assets/tourist2mobile.jpg" />
  <img class="img2" src="assets/tourist2.jpg" />
</div>


<button class="menu-button" mat-flat-button [matMenuTriggerFor]="appMenu">
  Menu
</button>

<div class="menu shadow">
  <mat-toolbar class="toolBar">
    <div class="menuButs"><a routerLink="/main">Main</a></div>
    <div>
      <span [mat-menu-trigger-for]="subMenu1" class="menuButs"
        ><a routerLink="/destinations">Destinations</a></span
      >
      <span class="menuButs">Reserve a trip</span>
      <span class="menuButs">Contact Us</span>
    </div>
  </mat-toolbar>
</div>
