

.trips {
    position: relative;
    margin: 20px;
}

.example-card {
    cursor: pointer;
    transition: ease-in 0.2s;
}

.last-trip-description {
    height: 80px;
    overflow: hidden;
    overflow-y: scroll;
}

.example-card:hover {
    transform: scale(1.01); 
}

.footer {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}


.shadow {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
