
  <div class="trips" (click)="lastTripsClick()">
    <mat-card class="example-card shadow">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{trip.title}}</mat-card-title>
        <mat-card-subtitle>{{trip.title2}}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]='trip.img'
        alt="/"
      />
      <mat-card-content>
        <p class="last-trip-description">
         {{trip.description}}
        </p>

        <mat-card-footer class="footer">29.01.18</mat-card-footer>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>TEXT THEM</button>
      </mat-card-actions>
    </mat-card>
  </div>
